/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

:root {
  --secondary: #0e806a;
  --main: #20363f;
}

body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 40px;
	font-weight: 700;
	line-height: 49px;
	margin: 0;
}

h2 {
	display: table;
	text-align: center;
	color: #fff;
	background-color: var(--main);
	font-size: 22px;
	line-height: 25px;
	text-transform: uppercase;
	margin: 0 auto;
	padding: 4px 8px;
}

h2.no-fill {
	color: var(--main);
	background-color: transparent;
	margin: 40px auto 24px auto;
}

h3 {
	color: var(--main);
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	line-height: 29px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 10px auto 0 auto;
}

p {
	font-size: 17px;
	line-height: 29px;
	margin: 0;
}

footer {
	color: #FFF;
	background-color: var(--main);
}

.section:nth-child(2n) {
	background-color: #F4F4F4;
}

.container {
	box-sizing: border-box;
	width: 375px;
	margin: 0px auto;
	padding: 40px 24px;
}

img {
	width: 100%;
}


@media screen and (min-width: 768px) {

	.container {
		width: 768px;
	} 

	.project-group, .article-group {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 54px;
	}
	
}

@media screen and (min-width: 1200px) {

	h2, h2.no-fill {
		font-size: 26px;
		line-height: 30px;
		padding: 5px 10px;
	}

	h3, h4, p, a, .article-text-group h3, .skills-group h3 {
		font-size: 21px;
		line-height: 34px;
	}

	.container {
		width: 1100px;
	}
}