.project-image-group {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 220px;
}

.project-image-group h2 {
	color: #fff;
	background-color: transparent;
	position: absolute;
	align-self: center;
	font-weight: 700;
	margin: 0;
}

.project-image {
	border-radius: 5px;
	object-fit: cover;
	overflow: hidden;
}
.project-overlay {
	border-radius: 5px;
	background-color: rgba(32,54,63,0.5);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

@media screen and (min-width: 1200px) {

	.project-image-group {
		height: 320px;
	}
}